.proyectos * {
    box-sizing: border-box;
}

.proyectos {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.proyectos .slides-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex: 1;
}

.proyectos .slide {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
}

.proyectos .slide img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.proyectos .slides-inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
